<form class="form">
  <div class='form-center flex'>
    <p>Add your own burger!</p>
    <div>
      <input type="text" class='burger-input' id="burger-name" name="name">
    </div>
    <button type="submit" id="add-burger">Add Burger</button>
  </div>
</form>